* {
  box-sizing: border-box;
}

body {
  height: calc(100vh-125px);
  margin: 0;
  background-color: #dad7cd;
  font-family: "Montserrat Alternates", sans-serif;
  background-image: url('/leaf-bg.png');
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

main {
  margin: 125px auto 0;
  padding-left: 200px;
  width: 90%;
}

/* #####################
        TYPOGRAPHY  
   ##################### */

h1 {
  font-weight: 400;
}

/* #####################
            Nav
   #####################. */