* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #dad7cd;
  font-family: "Montserrat Alternates", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

main {
  margin-top: 75px;
}

/* #####################
        TYPOGRAPHY  
   ##################### */

h1 {
  font-weight: 300;
}
